 body {
    background-color: dimgrey;
    font-family: sans-serif;
}
h1{
    color: lawngreen;
    text-align: center;
}
p{
    color: lawngreen;
}
h2{
    color: lawngreen;
}
p2{
    color:lawngreen;
}
.link_button {
    border-color: lawngreen;
    background-color: lawngreen;
    text-align:center;
    display: inline-block;
    padding: 1em;
    border-radius: 0.1em;
}
.banner_image {
    box-shadow: 3px 3px 5px grey;
    width: 50vw;
    height: 30vw;
}

.game_description {
    font-size: 1.5em;\
    word-wrap: normal;
    display: block;
    margin: 0 auto;
    color: lawngreen;
    text-align: center;
    background-color: brown;
    border-color: brown;
    border-radius: 1em;
    padding: 2em;
    width: 90vw;
}

