 body {
    background-color: dimgrey;
}

h1{
            color: lawngreen;
        }
p{
            color: lawngreen;
        }
h2{
            color: lawngreen;
        }
p2{
            color:lawngreen;
        }

